@charset "utf-8";

.flexBox {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.champion_list {
    display: inline-block;
    list-style: none;
}

.champion_list > li {
    float: left;
    margin-left: 20px;
}

.kind_of_use_item.active {
    background-color: orangered;
}